<div class="row">
  <div class="col-md-3 text-center">
    <div class="well profile-black-white">
      <%= image_tag @user.profile.picture.url %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well profile-black-white">
       <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %><br/></h1>
       <h3><span class="job-title-icon"><%= job_title_icon %></span> <%= @user.profile.job_title %></h3>
    </div>
    <div class="well profile-black-white">
      <h3 class="show-page-header">Description</h3>
      <%= @user.profile.description %>
    </div>
    <% if current_user.plan_id == 2 %>
      <div class="well profile-black-white">
        <h3 class="show-page-header">Contact Details</h3>
        <%= @user.profile.phone_number %><br/>
        <%= @user.profile.contact_email %><br/>
      </div>
    <% end %>
    <div class="well profile-black-white">
      <%= link_to "Edit your profile", edit_user_profile_path(current_user) , class: 'btn btn-primary' %>
      <%= link_to "Change your Password", edit_user_registration_path, class: 'btn btn-default-orange',  id: 'orange' %>
    </div>
  </div>
</div>